@use "../config/" as *;

.button {
  background: $primary-color-dark;
  color: $text-color-lighter;
  letter-spacing: 1.3px;
}
.button-white {
  @extend .button;
  background: $background-color;
  color: $text-color-lighter;
}
