@use "../config" as *;

.about {
  .title {
    padding-block: $spacing-xl;
  }

  &__content {
    @include grid(2, 0);
  }
  &__image-container {
    width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: $rounded-md;

    position: relative;
    z-index: 1;

    &::before {
      @include pseudo;
      z-index: -1;
      border: 5px solid $primary-color-light;
      background: transparent;
      top: -30px;
      left: -30px;
      border-radius: calc($rounded-md + rem(5));
    }
    img {
      z-index: 10;
      border-radius: $rounded-md;

      &:hover {
        transform: translate(-25px, -25px);
      }
    }
  }
  &__text {
    line-height: 1.5;
  }

  &__cta {
    @include flex(row, center);

    padding-block: $spacing-md;
  }
}
