@use "../config" as *;

.contact {
  padding-bottom: $spacing-xl;
  &__body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    @include breakpoint-down(medium) {
      grid-template-columns: 1fr;
    }
    align-items: center;
    gap: $spacing-md;
  }
  &__container {
    @include flex(column);
  }
  &__info {
    @include flex(row);
    width: 100%;
    gap: $spacing-md;
    padding-bottom: $spacing-xl;
  }
  &__details {
    text-align: left;
  }

  form {
    @include flex(column);
    align-items: center;
    gap: $spacing-lg;
    input,
    textarea {
      border: none;
      background: $surface-color;
      width: rem(400);
      text-indent: $spacing-sm;

      &::placeholder {
        color: $primary-color-dark;
      }
    }

    button {
    }
  }
}
