@use "../config" as *;

.footer {
  color: $text-color-lighter;
  background: $primary-color;
  width: 100%;
  padding-top: $spacing-2xl;
  padding-bottom: rem(100);

  &--top {
    @include flex(row, space-between);
    @include breakpoint-down(medium) {
      flex-direction: column;
      gap: $spacing-md;
    }
    margin-inline: auto;

    ul {
      @include flex(row);

      gap: $spacing-md;
      &.footer__links {
        @include breakpoint-down(medium) {
          flex-direction: column;
        }
      }
    }
  }

  &__logo {
    @include flex(column);
    button {
      background: transparent;
    }
    h3 {
      margin-bottom: $spacing-xs;
      color: $text-color-lighter;
    }
  }

  &__socials {
    .icon {
      color: $text-color-lighter;
    }
  }
  &--bottom {
    @include flex(row, center);
    margin-top: $spacing-lg;
  }
}
