@use "../config" as *;
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  @include breakpoint-down(medium) {
    flex-direction: column-reverse;
    gap: $spacing-xl;
    justify-content: center;
    align-items: center;
    padding-bottom: $spacing-3xl;
  }
  &__group-one {
    @include flex(row);
    gap: $spacing-xl;
    @include breakpoint-up(large) {
      gap: $spacing-3xl;
    }
    align-items: center;
  }
  &__links {
    @include flex(column, center);
    height: 100%;
    gap: $spacing-lg;
  }
  &__content {
    @include flex(column);
    align-items: flex-start;
    p {
      padding-block: $spacing-lg;
    }
    button {
      @include flex(row);
      gap: $spacing-sm;

      // &:hover {
      //   background: $background-color;
      //   border: 2px solid $primary-color;
      //   color: $text-color-darker;
      //   .icon {
      //     translate: rem(5) 0;
      //   }
      // }
    }
  }
  &__image-container {
    position: relative;
    width: rem(300);
    aspect-ratio: 1 /1;
    border-radius: 50%;
    background: $primary-color-lighter;
    overflow: hidden;
    transition: $transition;
    border: 3px solid $primary-color;
    box-shadow: 2px 2px 5x rgba(0, 0, 0, 0.2);
    @include breakpoint-down(medium) {
      width: rem(200);
    }
    img {
      @include corner(top, 0, left, 0);
    }
  }
}
