@use "../config" as *;
.hero {
  display: grid;
  grid-template-columns: 0.8fr 3fr 1fr;
  justify-items: flex-start;
  align-items: center;
  z-index: 10;
  // margin-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  &__links {
    @include flex(column, center);
    height: 100%;
    gap: $spacing-lg;

    a {
      cursor: pointer;
      color: $primary-color;
      font-size: $icon-size;
    }
  }
  &__content {
    @include flex(column);
    align-items: flex-start;
    p {
      padding-block: $spacing-lg;
    }
    button {
      @include flex(row);
      gap: $spacing-sm;

      // &:hover {
      //   background: $background-color;
      //   border: 2px solid $primary-color;
      //   color: $text-color-darker;
      //   .icon {
      //     translate: rem(5) 0;
      //   }
      // }
    }
  }
  &__image-container {
    position: relative;
    width: rem(300);
    aspect-ratio: 1 /1;
    border-radius: 50%;
    background: $primary-color-lighter;
    overflow: hidden;
    transition: $transition;
    img {
      @include corner(top, 0, left, 0);
    }
  }
}
