@use "../config" as *;

nav {
  @include flex(row, space-between);
  height: $header-height;
  position: sticky;
}
.nav {
  &__logo:hover > * {
    color: $primary-color;
  }
  &__links {
    @include flex(row);
    gap: $spacing-lg;
    overflow: visible;
  }
  &__link {
    &:hover {
      color: $primary-color;
    }
    button {
      position: relative;
      padding-bottom: 0;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: rem(4);
        bottom: 0;
        left: 0;
        background: $primary-color;
        transform-origin: left;
        transition: $transition;
        scale: 0 1;
      }
      &:hover {
        transform-origin: right;
        &::before {
          scale: 1 1;
        }
      }
    }
    &--title {
      font-size: $font-base;
    }
    &--icon {
      @include breakpoint-up(large) {
        display: none;
      }
    }
  }
  &__switch {
    &--dark {
      color: $text-color-darker;
    }
  }
}
