@use "../config" as *;

.skills {
  &__content {
    @include grid(4, 0);
  }
  &__items {
    @include flex(column, center);
    gap: $spacing-xs;
    width: rem(80);
    aspect-ratio: 1 / 1;
    border-radius: $rounded-full;
    background: $primary-color-lighter;

    span {
      color: $text-color-lighter;
      font-size: $font-sm;
    }
  }
}
