@use "./variables" as *;
@use "./functions" as *;
@use "./colors" as *;

@mixin box-shadow-sm {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
@mixin glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: $rounded-md;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
@mixin glow($color, $size) {
  background: $color;
  box-shadow: 0 0 $size $color, 0 0 calc($size + 10px) $color,
    0 0 calc($size + 20px) $color, 0 0 calc($size + 30px) $color,
    0 0 calc($size + 40px) $color;
}

@mixin pressed {
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.15),
    inset -10px -10px 10px rgba(255, 255, 255, 0.2);
}
@mixin raised {
  box-shadow:  5px 5px 7px rgba(0, 0, 0, 0.15),
  inset 2px 2px 3px rgba(255, 255, 255, 0.2),
  inset -2px -2px 3px rgba(0, 0, 0, 0.2);
}

// box-shadow:
